{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-start w-100">
        {% include "profile/includes/profileSidebar.html.twig" with {'user': app.user} %}
    </div>

{% endblock %}
