.card-text {
    font-size:14px;
}

.ft-12 {
    font-size:13px;
}


.sidebarbackmenu  {
    background-color: #0c7f08;
    max-width: 350px;
}

.nav-link {
    color: white;
}

.nav-link:focus {
    color:black;
}
.accordion-item{
    background-color: #0c7f08;
    border: inherit;
}
.accordion-button{
    color: white;
    font-size: 20px;
}
.accordion-dropper{
    width: 100%;
}
.dropdown-item{
    color: white;
}
.nav-item{
    margin-left: 15px;
    font-weight: bold;

}
.nav li{
    font-size: 20px;
}
