{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!
{% endblock %}

{% block body %}
	<style></style>
	<div class="container avis">
		<h1 class="titleindexavis">Vos Avis</h1>
		{% if (avis|length > 0) %}
			{% for singleavis in avis %}
				<div class="row">
					<div class="card w-1/2">
						<div class="card-body">
							<h2>
								<a href="{{ path('singleAvis', {id: singleavis.id} )}}">Avis n°{{singleavis.id}}</a>
							</h2>
							<p>{{ singleavis.avis }}</p>
							<p class="pt-3" style="color: grey; font-size: 80%; "></p>
							<p>{{ singleavis.date }}</p>
						</p>
					</div>
				</div>
			</div>

		{% endfor %}
	{% else %}
		<p>Il n'y a pas de categories pour le moment</p>
	{% endif %}
</div>{% endblock %}
