{% extends "base.html.twig" %}
{% block title %}
Envoyer un avis
{% endblock %}

{% block body %}

<div class="container">
<h1 class="titleindexavis">Envoyer un avis</h1>
    {{ form_start(form) }}
        
    {{ form_end(form) }}
</div>
{% endblock %}