{% extends "base.html.twig" %}
{% block title %}
	Avis n°{{avis.id}}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card w-1/2">
			<div class="card-body">
				<h1 class="titleindexavis">Avis n°{{avis.id}}</h1>
				<p>{{avis.avis}}</p>
				<p class="pt-3" style="color: grey; font-size: 80%; ">{{avis.date}}</p>
			</div>
		</div>
	</div>
{% endblock %}
