{% extends "base.html.twig" %}
{% block title %}
Avis n°{{avis.id}}
{% endblock %}
{% block body %}
<div>
    <h1 class="titleindexavis">Avis n°{{avis.id}}</h1>
    <p>{{avis.avis}}</p>
</div>
{% endblock %}