{% extends "base.html.twig" %}
{% block title %}
Avis n°{{avis.id}}
{% endblock %}
{% block body %}
<div>
<<<<<<< HEAD
    <h1 class="titleindexavis">Avis n°{{avis.id}}</h1>
=======
    <h1>Avis n°{{avis.id}}</h1>
>>>>>>> 3d1f0d6d81fed7c10c67e2be531bc9aa8b41eb49
    <p>{{avis.avis}}</p>
</div>
{% endblock %}