h3{
    color: #4BA849;
}
p{
    text-align: center;
}
.btnsubmit{
    background-color : #4BA849;
    color : rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    width: auto;
}
.center
{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}