<footer class="footer py-4 bg-black">
    <ul class="nav justify-content-center border-bottom pb-5 mb-8">
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Pricing</a></li>
            </ul>
        </li>
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Pricing</a></li>
            </ul>
        </li>
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center">Features</a></li>
            </ul>
        </li>
    </ul>
    <p class="text-center text-white fw-bold fst-italic">&copy; 2022 ECO COMPUTING</p>
</footer>