<!-- {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="/styles/home_and_header.css">
{% endblock %} -->


<div class="main-menu" style="background-color: #4BA849;">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link text-dark">Ordinateurs</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-dark">Marques</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-dark">Produits</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-dark">Promos !</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-dark">Dépannage </a></li>
    </ul>
</div>